{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<h1>{{ movie.title }}</h1>

<p>Movie ID : {{ movie.movie_id }}</p>
<p>Released at : {{ released_at }}</p>
<p>IMDB url : <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a></p>
<p>User ratings:</p>
<p>  
    {% for rating in movie.ratings %}
      
        {{ rating.score }}, 
      
    {% endfor %}
</p>

{% if 'user_id' in session %}
<h2>Rate this movie:</h2>
<form action="/movies/{{ movie.movie_id }}" method="POST">
	Rating: <input type="text" name="score"><br>
	<input type="submit" value="Submit">
</form>

{% endif %}

{% endblock %}