{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<h1>{{ movie.title }}</h1>

<p>Movie ID : {{ movie.movie_id }}</p>
<p>Released at : {{ released_at }}</p>
<p>IMDB url : <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a></p>
<p>User ratings:</p>
<p>{{ all_ratings }}</p>

{% if 'user_id' in session %}
<h2>Rate this movie on a scale of 1 to 5 (1=bad, 5=great):</h2>

<!-- Add user's rating -->

<form action="/movies/{{ movie.movie_id }}" method="POST">
	Rating: <input type="text" name="score">
	<input type="submit" value="Submit">
</form>

{% endif %}

{% endblock %}